// ### CORES ###

// Tons Preto e Branco
$white: #fff;
$black: #000;
// Cores Base - Claro
$c1: #f5f5f5;
$c2: #f0f0f0;
$c3: #e0e0e0;
$c4: #cccccc;
// Cores Base - Preto
$c5: #a3a3a3;
$c6: #8f8f8f;
$c7: #525252;
$c8: #141414;
// Gradiente
$g1: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
