.intro {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 160px;
  align-items: center;
}

.intro-img {
  width: 360px;
  height: 520px;
}

.intro-img img {
  width: 100%;
}

.intro-info h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}
.intro-info h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.intro-info p {
  font-size: 1.5rem;
  color: $c7;
}

// RESPONSIVO
@media (max-width: 960px) {
  .intro-info h1 {
    font-size: 3rem;
  }
  .intro-img {
    display: none;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .intro-info h1 {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .intro-img  {
    display: none;
  }
}